@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norsebold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

h1{
    position: relative;
    top: 15rem;
    left: 7rem;
    font-size: 4rem;
    font-family: 'Norse', sans-serif;
    letter-spacing:.5rem;
    color: white;
    z-index: 1;
    
}

h1::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(61, 7, 81);
    opacity: 0.5;
    z-index: -1;
    width: 50%;
}

#hero_img{
    display: flex;
    flex-direction: column;
}

img{
    height: clamp(300px, 75%, 1000px);
    width: clamp(250px, 75%, 950px);
}

#caption{
    font-size: .75rem;
}