body{
    display: flex;
}

h1{
    position: relative;
    top: 15rem;
    left: 15rem;
    font-size: 3rem;
    color: white;
    z-index: 1;
}

h1::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(61, 7, 81);
    opacity: 0.45;
    z-index: -1;
    width: 30%;
    margin: 
}

#hero_img{
    display: flex;
    flex-direction: column;
}

img{
    height: clamp(300px, 75%, 1000px);
    width: clamp(250px, 75%, 950px);
}

#caption{
    font-size: .75rem;
}